<div class="container">
<ul>
  <%@comments.each do |comment|%>
  <li><a class="user-name" href="/users/<%=comment.user_id%>"><%=comment.user.username%></a> on <%=comment.post.title%><br><%=comment.text%></li> 
<%end%>
</ul>
</div>

<%= erb :_errors, layout: false, locals: { value: @comments }